[submodule "H2OFastTests"]
	path = H2OFastTests
	url = https://github.com/dutiona/H2OFastTests.git
[submodule "Range-V3-VS2015"]
	path = Range-V3-VS2015
	url = https://github.com/Microsoft/Range-V3-VS2015.git
